.hero-container {
    background-image: url('../../images/HeroImg2.jpg');
    backdrop-filter: brightness(70%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    width: 100%;
    height: 100vh;
}

.inner-txt {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10em;
}

.inner-txt>h1 {
    color: #fff;
    font-size: 3.5rem;
    font-weight: bolder;
    text-align: center;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.491);
    margin-bottom: 10px;
}

.inner-txt>p {
    color: #fff;
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.519);
    margin-bottom: 15px;
}

.landing-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: rgb(152, 152, 253);
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.683);
    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.526);
    cursor: pointer;
    outline: none;
}

.landing-btn:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.423);
}

@media screen and (max-width: 960px) {
    .inner-txt>h1 {
        font-size: 3.1rem;
    }
}

@media screen and (max-width: 768px) {
    .inner-txt>h1 {
        font-size: 2.4rem;
    }
    .inner-txt>p {
        font-size: 24px;
        text-align: center;
    }
}